<!DOCTYPE html>
<html lang="en">
<head>
    {{template "general/header"}}
</head>
<body class="bg-gradient-to-r from-sky-300 to-blue-500">
    <main class="m-5">
        <div class="min-h-screen flex items-center justify-center">
            <div class="text-center">
              <div class="max-w-lg m-5 bg-white p-10 shadow-md rounded-2xl">
                <h1 class="text-4xl font-bold">Welcome to kanban app</h1>
                <p class="py-6 font-medium">This Kanban App is a simple web application that implements the REST API concept as well as the MVC concept. This Kanban App can be used to create a task and can also group the task into several parts. This application was completed by Putri Dwi Oktaviani when she attended the Study Independent Kampus Merdeka at Ruangguru. </p>

                <a href="/login">
                    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Login</button>
                </a>

                <a href="/register">
                    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Register</button>
                </a>
              </div>
            </div>
          </div>
    </main>
</body>
</html>